(Sample)ClickCounter/bin/
(Sample)ClickCounter/gen/
(Sample)SensorInstrument/bin/
(Sample)SensorInstrument/gen/
.metadata/
ProjGugu/bin/
appcompat_v7/bin/
appcompat_v7/gen/
Sample_ClickCounter/bin/
Sample_ClickCounter/gen/
Sample_SensorInstrument/bin/
Sample_CopyAndTrans/gen/
Sample_CopyAndTrans/bin/classes/com/gqphd/samplecopyandtrans/R$layout.class
Sample_CopyAndTrans/bin/
HelloGogong14/bin/AndroidManifest.xml
HelloGogong14/bin/
HelloGogong14/gen/
HelloGogong14/.classpath
HelloGogong14/
PrjGugu2/
